html {
  height: 100%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e6cefe;
}

.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

.wrapper {
  width: 500px;
  padding: 20px;
  background-color: #f8f8f8;
  -moz-box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 43%);
  -webkit-box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 43%);
  box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 43%);
}

#game-information {
  padding: 20px 20px 0 20px !important;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#header-wrapper {
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#header-wrapper h1 {
  font-size: larger;
  margin:2px auto;
  padding-top: 2%;
}

#header-wrapper select {
  width: 80px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
}

#card-wrapper {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 620px;
}

.flip-card {
  background-color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #a9a6a6;
  perspective: 1000px;
}

.flip-card:hover {
  border: 2px solid black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-back img {
  height: 40px;
  margin-top: 25%;
}

.flip-card-front img {
  height: 40px;
  margin-top: 25%;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

#footer {
  height: 90px;
  border-radius: 5px;
  margin: 30px 0;
  padding: 0 !important;
  color: black;
}

#footer .btn {
  border: 1px solid #a9a6a6;
}

#footer .btn:hover {
  border: 1px solid black;
}

@media only screen and (max-width: 510px) {
  .wrapper {
    width: 320px;
  }

  #card-wrapper {
    height: 430px;
  }

  #footer {
    width: 320px;
  }


  .flip-card {
    width: 50px;
    height: 50px;
  }

  .flip-card-front img {
    height: 30px;
    margin-top: 20%;
  }

  .flip-card-back img {
    height: 30px;
    margin-top: 20%;
  }
}
