body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e6cefe;
}

#header-wrapper {
  height: 100px;
  width: 500px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
  box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
}

#header-wrapper h1{
  font-size:larger;
  text-align: center;
  padding-top:4%;
}

#card-wrapper {
  height: 690px;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
  box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
}

.flip-card {
  background-color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #a9a6a6;
  perspective: 1000px;
}

.flip-card:hover{
  border: 2px solid black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-back img {
  height: 40px;
  margin-top: 25%;
}

.flip-card-front img {
  height: 40px;
  margin-top: 25%;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

#footer{
  width: 500px;
  height: 90px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
  box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.43);
  margin-top:50px;
  background-color: #f8f8f8;
  color:black;
}

#footer .btn{
  border:1px solid #a9a6a6;
}

#footer .btn:hover{
  border:1px solid black;
}

@media only screen and (max-width: 510px) {
  #card-wrapper {
    width: 320px;
    height: 530px;
  }

  #footer{
    width: 320px;
  }

  #header-wrapper{
    width: 320px;
  }

  .flip-card {
    width: 50px;
    height: 50px;
  }

  .flip-card-front img {
    height: 30px;
    margin-top: 20%;
  }

  .flip-card-back img {
    height: 30px;
    margin-top: 20%;
  }
}
